<div class="footer">
 <div class="footer-container">
   <div class="footer-container-about">
      <h4>About</h4>
          <div><a href="#">Sitemap</a></div>
          <div><a href="#">Contact Us</a></div>
          <div><a href="#">Religious Ceremonies</a></div>
          <div><a href="#">Gazebo Plans</a></div>
   </div>
   <div class="footer-container-services">
       <h4>Services</h4>
          <div><a href="#">Banana Pre-Order</a></div>
          <div><a href="#">DNA FAQ</a></div>
          <div><a href="#">How To Access</a></div>
          <div><a href="#">Favorite X-Men</a></div>
   </div>
   <div class="footer-container-header">
        <h4>Footer Header</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
   </div>
 </div>
 </div>
