<nav>
  <button mat-flat-button  routerLink="games">Games</button>
<!--<mat-menu #gamesMenu="matMenu" yPosition="above">-->
<!--  <button mat-menu-item >All games</button>-->
<!--  <button mat-menu-item>Soon on sale</button>-->
<!--  <button mat-menu-item>Novelty</button>-->
<!--  <button mat-menu-item>Free offers</button>-->
<!--</mat-menu>-->

<button mat-flat-button routerLink="additional">DLC</button>
<!--<mat-menu #dlcMenu="matMenu" yPosition="below">-->
<!--  <button mat-menu-item>All loans</button>-->
<!--  <button mat-menu-item>All DLC</button>-->
<!--</mat-menu>-->

<button mat-flat-button routerLink="gamescom-sale">Special offers</button>

<button mat-flat-button routerLink="uplay">Uplay+</button>
</nav>
