<!DOCTYPE html>
<html>
<body>
<app-header></app-header>
<div class="partFirst">>
  <div class="partFirst-image"></div>
  <div class="ubisoft-header">
    <h1 class="ubisoft-header-h1">UPLAY+</h1>
    <div class="ubisoft-header-h2"> UNLIMITED ACCESS TO 100+ GAMES</div>
    <div class="ubisoft-header-text"> Try it for free from 3rd September to 30th September.*
   *Free trial starts on 3rd September and ends 30th September. Cancel anytime. Restrictions apply.
   Try it for free
    </div>
    <mat-button-toggle>
      Get Started
    </mat-button-toggle>
  </div>
</div>
<section class="partSecond">
  <div class="partSecond-title">
    <h2>What is Uplay+ ?</h2>
  </div>
  <div class="partSecond-container">
   <div class="partSecond-content">
     <div class="partSecond-container-block">
      <h3>100+ pc games</h3>
      <p>Downloand games from a growing catalogue, including fan favourites and the hottest upcoming releases.</p>
    </div>
    <div class="partSecond-container-block">
      <h3>new releases</h3>
      <p>Get access to play early and beta programs to play  our new releases before their launch.</p>
    </div>
    <div class="partSecond-container-block">
      <h3>premium editions</h3>
      <p>Uplay+ includes the premium editions available with DLCs and expansions.**</p>
    </div>
    <div class="partSecond-container-block">
      <h3>no engagement</h3>
      <p>You may terminate your subscription online at any time</p>
    </div>
   </div>
  </div>
  </section>
<section class="partThird">
  <div class="partThird-container">
    <div class="partThird-block">
      <div class="partThird-block-text">
        <div><h3>One unified ecosystem</h3></div>
        <div>
          <h4>Play your games</h4>
          <p>Easily download, install and play all of your Ubisoft PC games in one location.</p>
        </div>
        <div>
          <h4>Explore new worlds</h4>
          <p>Pick from an extensive list of Betas, Trials, and Free Weekends to experience our PC games first-hand.</p>
        </div>
        <div>
          <h4>Browse dedicated content</h4>
          <p>Stay up to date with all the latest news from your Ubisoft games and enjoy original curated PC content.</p>
        </div>
      </div>
      <div class="partThird-block-image">
        <p></p>
      </div>
    </div>
  </div>
</section>
<section class="partFour">
  <div class="partFour-content">
    <div class="partFour-content-title"><h3>Find your next game on the Ubisoft Store</h3></div>
    <div class="partFour-text">
      <h3>The one-stop store for Ubisoft Games</h3>
      <p>browse our huge catalogue & find that game you'll love.Visit the store now.</p>
    </div>
    <div class="partFour-line">
      <hr>
    </div>
    <div class="partFour-text">
      <h3>Exclusive deals all year long</h3>
      <p>get new promotions every Wednesday, every weekend, every day.</p>
      <div class="partFour-line">
        <hr>
      </div>
      <div class="partFour-text">
        <h3>Automatic Activation</h3>
        <p>when you buy PC digital games, DLCs and additional packs on Ubisoft Store,
          they appear in your Uplay library. Automatic. Simple.</p>
    </div>
  </div>
  </div>
</section>
<footer>
  <app-footer></app-footer>
</footer>
</body>
</html>
